Repository h4nyu/vision-tools: changes, and which Codecov flags are due for each by the changed paths.
All: vision_tools, kuzushiji_bench, subaru_bench

fix ci
  .circleci/config.yml
Due: none

fix
  Dockerfile
Due: none

add signate json
  .gitignore
  docker-compose.yaml
  vision_tools/setup.py
Due: vision_tools

fix mypy
  subaru_bench/setup_data.sh
  vision_tools/mypy.ini
Due: vision_tools, subaru_bench

fix type
  vision_tools/mypy.ini
Due: vision_tools

fix type
  vision_tools/vision_tools/metrics/average_precision.py
Due: vision_tools

add cots bench
  .circleci/config.yml
  cots_bench/config/dataset.yaml
  cots_bench/config/yolox.yaml
  cots_bench/data/unicode_translation.csv
  cots_bench/mypy.ini
  cots_bench/pytest.ini
  cots_bench/setup.py
  cots_bench/setup_data.sh
  cots_bench/subaru_bench/__init__.py
  cots_bench/subaru_bench/data.py
  cots_bench/subaru_bench/metric.py
  cots_bench/subaru_bench/py.typed
  cots_bench/subaru_bench/yolox.py
  cots_bench/tests/__init__.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
  cots_bench/train_yolox.py
Due: none

remove dead code
  cots_bench/data/unicode_translation.csv
Due: none

rename
  cots_bench/cots_bench/__init__.py
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/metric.py
  cots_bench/cots_bench/py.typed
  cots_bench/cots_bench/yolox.py
  cots_bench/mypy.ini
  cots_bench/setup.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
  cots_bench/train_yolox.py
Due: none

fix ci
  .circleci/config.yml
  codecov.yaml
Due: none

add dataset
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/mypy.ini
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
Due: none

start train
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/mypy.ini
  cots_bench/train_yolox.py
Due: none

train
  cots_bench/cots_bench/data.py
  cots_bench/tests/test_data.py
Due: none

group k fold
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
  docker-compose.yaml
Due: none

remove setup
  Dockerfile
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/__init__.py
  cots_bench/cots_bench/data.py
  cots_bench/tests/test_yolox.py
  cots_bench/train_yolox.py
  docker-compose.yaml
  vision_tools/setup.py
Due: vision_tools

3.7
  Dockerfile
  cots_bench/cots_bench/__init__.py
  cots_bench/predict.py
  vision_tools/mypy.ini
  vision_tools/tests/test_anchors.py
  vision_tools/tests/test_yolox.py
  vision_tools/vision_tools/__init__.py
  vision_tools/vision_tools/anchors.py
  vision_tools/vision_tools/assign.py
  vision_tools/vision_tools/backbone.py
  vision_tools/vision_tools/block.py
  vision_tools/vision_tools/box.py
  vision_tools/vision_tools/centernet.py
  vision_tools/vision_tools/effidet.py
  vision_tools/vision_tools/image.py
  vision_tools/vision_tools/interface.py
  vision_tools/vision_tools/loss.py
  vision_tools/vision_tools/meter.py
  vision_tools/vision_tools/metrics/mean_average_precision.py
  vision_tools/vision_tools/mkmaps.py
  vision_tools/vision_tools/model_loader.py
  vision_tools/vision_tools/neck.py
  vision_tools/vision_tools/point.py
  vision_tools/vision_tools/step.py
  vision_tools/vision_tools/utils.py
  vision_tools/vision_tools/yolox.py
Due: vision_tools

add placeholder
  cots_bench/predict.py
Due: none

fix
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/metric.py
  cots_bench/mypy.ini
  cots_bench/predict.py
  cots_bench/tests/test_data.py
  vision_tools/mypy.ini
  vision_tools/vision_tools/metric.py
  vision_tools/vision_tools/transforms.py
Due: vision_tools

?
  cots_bench/cots_bench/config/dataset.yaml
  cots_bench/cots_bench/config/yolox.yaml
  cots_bench/cots_bench/yolox.py
  cots_bench/train_yolox.py
Due: none

backport
  vision_tools/vision_tools/metric.py
  vision_tools/vision_tools/utils.py
Due: vision_tools

omegaconf -> pyyaml
  cots_bench/config/dataset.yaml
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/yolox.py
  cots_bench/predict.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
  kuzushiji_bench/kuzushiji_bench/yolox.py
  kuzushiji_bench/tests/test_data.py
  kuzushiji_bench/tests/test_yolox.py
  kuzushiji_bench/train_yolox.py
  vision_tools/setup.py
  vision_tools/vision_tools/utils.py
Due: vision_tools, kuzushiji_bench

fix key
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
  docker-compose.yaml
Due: none

fix key
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
Due: none

fix?
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/yolox.py
  docker-compose.yaml
Due: none

fix
  docker-compose.yaml
Due: none

fix path
  cots_bench/config/yolox.yaml
  docker-compose.yaml
Due: none

downgrade to 1.9
  Dockerfile
  vision_tools/vision_tools/anchors.py
  vision_tools/vision_tools/metrics/average_precision.py
  vision_tools/vision_tools/patch.py
Due: vision_tools

fix path
  docker-compose.yaml
Due: none

add F2 metric
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/metric.py
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_metric.py
  cots_bench/tests/test_yolox.py
Due: none

?
  cots_bench/cots_bench/metric.py
  cots_bench/cots_bench/yolox.py
  vision_tools/vision_tools/backbone.py
  vision_tools/vision_tools/interface.py
Due: vision_tools

add to_submission_string
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/metric.py
  cots_bench/cots_bench/yolox.py
  cots_bench/eveluate_yolox.py
  cots_bench/tests/test_data.py
  vision_tools/vision_tools/step.py
  vision_tools/vision_tools/utils.py
Due: vision_tools

fix pytest
  cots_bench/pytest.ini
Due: none

fix pytest
  vision_tools/pytest.ini
Due: vision_tools

?
  cots_bench/tests/test_data.py
  vision_tools/tests/test_batch_transform.py
  vision_tools/tests/test_transform.py
  vision_tools/vision_tools/batch_transform.py
  vision_tools/vision_tools/transforms.py
  vision_tools/vision_tools/utils.py
Due: vision_tools

?
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/predict.py
  cots_bench/tests/test_yolox.py
  vision_tools/vision_tools/batch_transform.py
  vision_tools/vision_tools/interface.py
  vision_tools/vision_tools/utils.py
  vision_tools/vision_tools/yolox.py
Due: vision_tools

add getter
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
Due: none

fix
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_yolox.py
Due: none

fix fmt
  cots_bench/cots_bench/data.py
Due: none

start train
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_yolox.py
Due: none

train with boxes
  cots_bench/config/yolox.yaml
  cots_bench/cots_bench/data.py
  cots_bench/cots_bench/yolox.py
  cots_bench/tests/test_data.py
  cots_bench/tests/test_yolox.py
Due: none

Path conditions:
  vision_tools: any of: vision_tools
  kuzushiji_bench: any of: kuzushiji_bench
  subaru_bench: any of: subaru_bench
